.themeSwitchWrapper {
    padding-top: 1px;
  }
  
.themeSwitch {
    position: relative;
    display: flex;
    width: 44px;
    height: 20px;
    padding: 0 4px;
    margin-left: auto;
    cursor: pointer;
    background-color: #151515;
    border-radius: 30px;
    justify-content: space-between;
    align-items: center;
  
    &Inner {
      position: absolute;
      z-index: 1;
      width: 15px;
      height: 15px;
      background-color: #c5e0ffee;
      border-radius: 50%;
      transition: transform 0.5s, background-color 0.5s;
      will-change: transform;
    }
  
    &Dark {
      .themeSwitchInner {
        transform: translateX(calc(100% + 6px));
      }
    }
  
    &svg {
      display: inline-block;
      overflow: hidden;
      vertical-align: -0.15em;
      fill: currentColor;
    }
  }
  
.hover-blue{
  cursor: pointer;
}
.hover-blue:hover {
    color: rgb(87, 87, 221);
}